<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact about this app, please leave a comment at the
  <a href="#">post on qiita</a>.
</p>
<p>
  このアプリについてのお問い合わせは
  <a href="#">本アプリについてのqiitaの記事</a>でコメントにてお願いいたします。
</p>