<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact about this app, 
  <a href="https://twitter.com/bellmmm_s">please reply to me</a>.
</p>
<p>
  このアプリについてのお問い合わせは
  <a href="https://twitter.com/bellmmm_s">twitterでリプライしてください</a>。
</p>