<div class="main-container">
  <div class="center jumbotron">
    <h1>Welcome to PICK OUT</h1>

    <h2>
      This is the home page for an application called PICK OUT.
    </h2>
    <h2>  PICK OUT is created based on the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <h2>
      PICK OUT will show you products you will like.  Only what you need to do is sign up and go through our easy test.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

    <h4>
    <%= link_to "login as Guest user", guest_login_path %>
    </h4>
  </div>
</div> 