

  <div id="product-<%= product.id%>">
    <span class="product-name"><%= link_to product.name, product_path(product) %></span>
    <span class="product-image">
      <% if File.exist?"app/assets/images/products/#{product.name}.jpg" %>
        <div class="product_image">
          <%= image_tag("products/#{product.name}.jpg", alt: "products/#{product.name}.jpg", width: "200px") %>
          <p class="photographer">Photo by: <%=product.photo_by%></p>
        </div> 
      <% else %>
      <% end %>
    </span>
  </div>

