<footer class="footer">
  <small>
    <a href="#">PICK OUT</a>
    by <a href="#">B</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li> 
      <li><%= link_to "Contact", contact_path %></li>
      <%# <li><a href="https://news.railstutorial.org/">News</a></li> %>
    </ul>
  </nav>
</footer>